/*
. class;
# id;
name HTML tag
*/

form {
  left: 5%;
  right: 5%;
}

textarea {
  width:  100%;
  resize: none;
  border: none;
  background-color: #f4f1ec;
  border-bottom: 3px solid black;
}

input {
  float: left;
  font-family: 'Bungee', cursive;
  background-color: #4055a1;
  color: #FFFFFF;
}

#numChar {
  font-family: 'Bungee', cursive;
  float: right;
}