#tweet-section {
  left: 5%;
  right: 5%;
  background-color: #f4f1ec;
  clear: both;
}

form {
  margin-bottom: 50px;
}
article {
  display: grid;
  grid-template-rows: 75px 50px 40px;
  grid-row-gap: 1ch;
  border: 3px  solid black;
  margin-bottom: 20px;
}

article header {
  overflow: auto;
}

article:hover {
  box-shadow: 7px 7px #888888;
}

main #tweet-section article header {
  text-align: right;
}

.name {
  align-self: center;
}
.handle {
  position: absolute;
  right: 0;
  align-self: center;
}

main #tweet-section article footer {
  border-top: 3px solid black;
}