#tweet-section {
  left: 5%;
  right: 5%;
  background-color: #f4f1ec;
  border: 3px solid black;
  clear: both;
}

article {
  display: grid;
  grid-template-rows: 50px 50px 50px;
}

article:hover {
  box-shadow: 7px 7px #888888;
}

main #tweet-section article header {
  border: 3px solid red;
  /* display: float;
  clear: both; */
  /* background-color: #f4f1ec; */
}